<button class="nav-toggle-btn" onclick="toggleNav()">
  ☰  N a v i g a t i o n
 </button>
<nav class="nav">
    <ul>
     <li>
       <a href="#top">
        Back to Top
       </a>
      </li>
     <li>
        <a>
      <button hx-get="general-security.html" hx-trigger="click" hx-target="#content">
       General Security Considerations
      </button>
    </a>
     </li>
     <li>
        <a>
      <button hx-get="physical-security.html" hx-trigger="click" hx-target="#content">
       Physical Security
      </button>
    </a>
     </li>
     <li>
        <a>
      <button hx-get="account-security.html" hx-trigger="click" hx-target="#content">
       Account Security
      </button>
    </a>
     </li>
     <li>
        <a>
      <button hx-get="network-security.html" hx-trigger="click" hx-target="#content">
       Network Security
      </button>
    </a>
     </li>
     <li>
        <a>
      <button hx-get="securing-ssh.html" hx-trigger="click" hx-target="#content">
       Securing SSH
      </button>
    </a>
     </li>
     <!--
     <li>
      <a href="#-filesystem-security-">
       Filesystem Security
      </a>
     </li>
     -->
     <li>
        <a href="#-other-security-resources-">
            Other Security Resources
        </a>
     </li>
     <!--
     <li>
        <button hx-get="side-btn.html" hx-swap="innerHTML" hx-trigger="click" hx-target="#navbar">
            <a>CLOSE</a>
        </button>
     </li>
     -->
    </ul>
   </nav>