<button class="nav-toggle-btn" onclick="toggleNav()">
  ☰  N a v i g a t i o n
 </button>
<nav class="side-navigation">
    <ul>
     <li>
       <a href="#top">
        <button onclick="toggleNav()">Back to Top</button>
       </a>
      </li>
     <li>
        <a href="#content">
          <button hx-get="general-security.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
            General Security Considerations
          </button>
        </a>
     </li>
     <li>
      <a href="#content">
        <button hx-get="physical-security.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
          Physical Security
        </button>
      </a>
     </li>
     <li>
      <a href="#content">
        <button hx-get="account-security.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
          Account Security
        </button>
      </a>
     </li>
     <li>
        <a href="#content">
      <button hx-get="network-security.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
       Network Security
      </button>
    </a>
     </li>
     <li>
        <a href="#content">
      <button hx-get="securing-ssh.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
       Securing SSH
      </button>
    </a>
     </li>
     <!--
     <li>
      <a href="#-filesystem-security-">
       Filesystem Security
      </a>
     </li>
     -->
     <li>
        <a href="#-other-security-resources-">
          <button onclick="toggleNav()">
            Other Security Resources
          </button>
        </a>
     </li>
     
     <li>
      <a>
      <button onclick="toggleNav()">
        Close
      </button>
    </a>
     </li>
    </ul>
  </button>
</nav>