<button class="nav-toggle-btn" onclick="toggleNav()">
    ☰  N a v i g a t i o n
   </button>
   <nav class="side-navigation">
    <ul>
       <li>
          <a href="#top">
            <button onclick="toggleNav()">Back to Top</button>
          </a>
       </li>
     <li>
      <a>
        <button hx-get="server-hardware-installation-and-management.html" hx-trigger="click" hx-target="#content" onclick="toggleNav(); loadContentAndNavigate('#server-hardware-installation-and-management')">
            Server Hardware Installation and Management
        </button>
      </a>
      <ul>
       <li>
        <a>
            <button hx-get="server-hardware-installation-and-management.html" hx-trigger="click" hx-target="#content" onclick="toggleNav(); loadContentAndNavigate('#racks,-enclosures,-and-unit-sizes')">
                Racks, Enclosures, & Unit Sizes
            </button>
        </a>
       </li>
       <li>
        <a >
            <button hx-get="server-hardware-installation-and-management.html" hx-trigger="click" hx-target="#content" onclick="toggleNav(); loadContentAndNavigate('#powering-servers')">
                Powering Servers
            </button>
        </a>
       </li>
       <li>
        <a>
            <button hx-get="server-hardware-installation-and-management.html" hx-trigger="click" hx-target="#content" onclick="toggleNav(); loadContentAndNavigate('#network-cabling-and-fiber')">
                Network Cabling & Fiber
            </button>
        </a>
       </li>
       <li>
        <a >
            <button hx-get="server-hardware-installation-and-management.html" hx-trigger="click" hx-target="#content" onclick="toggleNav(); loadContentAndNavigate('#server-hardware-components')">
                Server Hardware Components
            </button>
        </a>
       </li>
      </ul>
     </li>
     <li>
      <a >
        <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav(); loadContentAndNavigate('#server-administration-basics')">
            Server Administration Basics
        </button>
      </a>
      <ul>
       <li>
        <a >
            <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav(); loadContentAndNavigate('#out-of-band-management')">
                Out of Band Management
            </button>
        </a>
       </li>
       <li>
        <a >
            <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav(); loadContentAndNavigate('#operating-system-installation')">
                Operating System Installation
            </button>
        </a>
       </li>
       <li>
        <a >
            <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav(); loadContentAndNavigate('#basic-networking-ip-configuration')">
                Basic Networking: IP Configuration
            </button>
        </a>
       </li>
       <li>
        <a >
            <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav(); loadContentAndNavigate('#server-roles')">
                Server Roles
            </button>
        </a>
       </li>
       <li>
        <a >
            <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav(); loadContentAndNavigate('#server-functions-and-features')">
                Server Functions & Features
            </button>
        </a>
       </li>
       <li>
        <a >
            <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav(); loadContentAndNavigate('#high-availability-servers')">
                High Availability Servers
            </button>
        </a>
       </li>
       <li>
        <a >
            <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav(); loadContentAndNavigate('#high-availability-networking')">
                High Availability Networking
            </button>
        </a>
       </li>
       <li>
        <a >
            <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav(); loadContentAndNavigate('#virtualization')">
                Virtualization
            </button>
        </a>
       </li>
      </ul>
     </li>
     <!--
     <li>
      <a href="#security-and-disaster-recovery">
       Security &amp; Disaster Recovery
      </a>
     </li>
     <li>
      <a href="#server-troubleshooting">
       Server Troubleshooting
      </a>
     </li>
     -->
     <li>
        <a>
        <button onclick="toggleNav()">
          Close
        </button>
      </a>
    </li>
    </ul>
   </nav>