<button class="nav-toggle-btn" onclick="toggleNav()">
    ☰  N a v i g a t i o n
   </button>
   <nav class="side-navigation">
    <ul>
       <li>
          <a href="#top">
            <button onclick="toggleNav()">Back to Top</button>
          </a>
       </li>
     <li>
      <a href="#server-hardware-installation-and-management"">
        <button hx-get="server-hardware-installation-and-management.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
            Server Hardware Installation and Management
        </button>
      </a>
      <ul>
       <li>
        <a href="#racks,-enclosures,-and-unit-sizes"">
            <button hx-get="server-hardware-installation-and-management.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
                Racks, Enclosures, & Unit Sizes
            </button>
        </a>
       </li>
       <li>
        <a href="#powering-servers">
            <button hx-get="server-hardware-installation-and-management.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
                Powering Servers
            </button>
        </a>
       </li>
       <li>
        <a href="#network-cabling-and-fiber"">
            <button hx-get="server-hardware-installation-and-management.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
                Network Cabling & Fiber
            </button>
        </a>
       </li>
       <li>
        <a href="#server-hardware-components">
            <button hx-get="server-hardware-installation-and-management.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
                Server Hardware Components
            </button>
        </a>
       </li>
      </ul>
     </li>
     <li>
      <a href="#server-administration-basics">
        <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
            Server Administration Basics
        </button>
      </a>
      <ul>
       <li>
        <a href="#out-of-band-management">
            <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
                Out of Band Management
            </button>
        </a>
       </li>
       <li>
        <a href="#operating-system-installation">
            <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
                Operating System Installation
            </button>
        </a>
       </li>
       <li>
        <a href="#basic-networking-ip-configuration">
            <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
                Basic Networking: IP Configuration
            </button>
        </a>
       </li>
       <li>
        <a href="#server-roles">
            <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
                Server Roles
            </button>
        </a>
       </li>
       <li>
        <a href="#server-functions-and-features">
            <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
                Server Functions & Features
            </button>
        </a>
       </li>
       <li>
        <a href="#high-availability-servers">
            <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
                High Availability Servers
            </button>
        </a>
       </li>
       <li>
        <a href="#high-availability-networking">
            <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
                High Availability Networking
            </button>
        </a>
       </li>
       <li>
        <a href="#virtualization">
            <button hx-get="server-administration-basics.html" hx-trigger="click" hx-target="#content" onclick="toggleNav()">
                Virtualization
            </button>
        </a>
       </li>
      </ul>
     </li>
     <!--
     <li>
      <a href="#security-and-disaster-recovery">
       Security &amp; Disaster Recovery
      </a>
     </li>
     <li>
      <a href="#server-troubleshooting">
       Server Troubleshooting
      </a>
     </li>
     -->
     <li>
        <a>
        <button onclick="toggleNav()">
          Close
        </button>
      </a>
    </li>
    </ul>
   </nav>